
		<ion-nav-view>
			<div class="bar bar-header" style="background:red; font-weight:bold;">
				<div class="col col-10"><i class="ion-chevron-left" ng-click="back()" style="color:white;font-weight:bold;font-size:20px"></i></div>
				<div class="col col-90" style="text-align:center; font-size:18px; color:white">
					CHECKOUT
				</div>
				
				
			</div>
				
			<ion-content class="padding has-header" style="background:url(img/bck.png) center; background-size: cover;">
				<div style="color:red;font-size: 16px;font-weight: bold">
                                    Shipping address:<button class="button-clear" style="color:white;float:right" ng-click="edit(shippingdetails,billingdetails)"><i class="icon ion-edit"></i></button>
                                </div><div class="spacer" style="height:10px"></div>
                                    <div class="w3-card-4" style="background:url(img/bck.png) center; background-size: cover;color:white;font-size: 14px" >
                                        
                                        <div class="row">
                                            <div class="col col-50">
                                                Name:
                                            </div>
                                            <div class="col col-50">
                                                {{shippingdetails.fname}}&nbsp{{shippingdetails.lname}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Company:
                                            </div>
                                            <div class="col col-50">
                                                 {{shippingdetails.company}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Address1:
                                            </div>
                                            <div class="col col-50">
                                                 {{shippingdetails.address1}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Address2:
                                            </div>
                                            <div class="col col-50">
                                                 {{shippingdetails.address2}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                City:
                                            </div>
                                            <div class="col col-50">
                                                 {{shippingdetails.city}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                State:
                                            </div>
                                            <div class="col col-50">
                                                 {{shippingdetails.state}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Postcode:
                                            </div>
                                            <div class="col col-50">
                                                 {{shippingdetails.postcode}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Country:
                                            </div>
                                            <div class="col col-50">
                                                 {{shippingdetails.country}}
                                            </div>
                                        </div>
                                        <div class="spacer" style="height:10px"></div>
                               
                                    </div>
                                
                                <div style="color:red;font-size: 16px;font-weight: bold">
                                    Billing address: <button class="button-clear" style="color:white;float:right" ng-click="edit(shippingdetails,billingdetails)"><i class="icon ion-edit"></i></button>
                                </div> <div class="spacer" style="height:10px"></div>
                                <div class="w3-card-4" style="background:url(img/bck.png)center; background-size: cover;color:white;font-size: 14px" >
                                     <div class="row">
                                            <div class="col col-50">
                                                Name:
                                            </div>
                                            <div class="col col-50">
                                                {{billingdetails.fname}}&nbsp{{billingdetails.lname}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Company:
                                            </div>
                                            <div class="col col-50">
                                                 {{billingdetails.company}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Address1:
                                            </div>
                                            <div class="col col-50">
                                                 {{billingdetails.address1}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Address2:
                                            </div>
                                            <div class="col col-50">
                                                 {{billingdetails.address2}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                City:
                                            </div>
                                            <div class="col col-50">
                                                 {{billingdetails.city}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                State:
                                            </div>
                                            <div class="col col-50">
                                                 {{billingdetails.state}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Postcode:
                                            </div>
                                            <div class="col col-50">
                                                 {{billingdetails.postcode}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Country:
                                            </div>
                                            <div class="col col-50">
                                                 {{billingdetails.country}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Email:
                                            </div>
                                            <div class="col col-50">
                                                 {{billingdetails.email}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                Phone:
                                            </div>
                                            <div class="col col-50">
                                                 {{billingdetails.phone}}
                                            </div>
                                        </div>
                                
                                    </div>
                                
                                <div class="item item-thumbnail-left supcarditem row" ng-repeat="finalitem in items">
					<div class="col col-50 supcol">
						<img src={{finalitem.product_thumb}} height="130px" width="130px" style="padding-top:40px;padding-left:5px">
					</div>
					<div class="col col-50px ">
						<div class="card subcard">
								<div class="row">
									<div class="col col-100 subcol">
										<span class="subpan">
                                                                                    {{finalitem.post_title}}
										</span>	
									</div>
								</div>
								<div class="row">
									<div class="col col-100" style="text-align:center">
										<div class="item-row" style="font-weight:bold; font-size:14px;float:left">
										price: {{finalitem.price * finalitem.quantity}}
										</div>
										<div class="row cart-edit-row" >
											
											<div class="col col-33" style="font-weight:bold; font-size:14px">
											Quantity: {{finalitem.quantity}}
											</div>
											
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>	
                            <div class="spacer" style="height:20px"></div>
                            <div class="row ">
                                <div class="col col-50" style="text-align:left;color:red">Total:</div>
                                <div class="col col-50" style="text-align:right;color:white">$&nbsp{{total}}</div>
                            </div>
                            <hr/>
                            <div style="text-align: center;color:red;font-weight: bold;font-size: 18px"> Credit Card details:</div>
                             <div class="spacer" style="height:20px"></div>
                            <div class="w3-card-4" style="color:white;padding: 20px;">
                                
                                <input type="number" placeholder="card number" ng-model="card.cnumber"><br><br>
                            
                                <input type="number" placeholder="month" ng-model="card.cmonth"><br><br>
                                
                               
                                <input type="number" placeholder="year" ng-model="card.cyear"><br><br>
                                
                                
                                <input type="number" placeholder="Cvv" ng-model="card.ccvv">
                                
                            </div>
                                                        
                            <div class="spacer" style="height:20px"></div>
                            <div style="text-align:center;">
				<button class="w3-button w3-red w3-round-xxlarge " ng-click="payment(shippingdetails,billingdetails,finalitem,card)">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPAYMENT&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                            </div>
                            <div class="spacer" style="height:40px"></div>
                          </ion-content>
				
		</ion-nav-view>
	