<ion-view style="background: url(img/registerBG.png) center; background-size: cover;">

  
  <ion-content class="w3-container">
	
	<div class="spacer" style="height:250px"></div>
	<div class = "row">
		<div class="col col-center text-center" style="color:white;font-family:Lucida Sans Unicode;font-size:20px">
		<img src="img/star.png"height ="20px" width="20px">&nbsp&nbspFORGOT PASSWORD&nbsp&nbsp<img src="img/star.png"height ="20px" width="20px"></div>
	</div>
	
	<div class="spacer" style="height:15px"></div>
  
    <form >
        <input type="email" placeholder="Email" ng-model="user.email" style="border-radius: 23px;border-color:white;color:white">
        
		<div class="spacer" style="height:15px"></div>
	
		<button class="button button-block button-assertive" style="border-radius: 23px" ng-click="send(user)">
			SEND
		</button>
		
		<div class="row">
			<div class="col col-center text-center">
				<div class="w3-container"> <button class="w3-button w3-xlarge w3-circle w3-red w3-card-4" ng-click="back()"> < </button>
				</div>
			</div>
		</div>
		
    </form>
<!--	
	<div class="spacer" style="height:100px"></div>
	<p style="text-align:center;color:white">Dont have an account?<button class="button-clear" style="color:#44ce40" ng-click="reg()">Register</button></p>
	<button class="button-clear button-full" style="color:#44ce40">Forget password?</button>
-->
  </ion-content>
</ion-view>
